<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks; let i = index">
      <ion-label [class.completed]="task.completed">
        {{ task.name }}
      </ion-label>
      <ion-checkbox
        slot="start"
        [(ngModel)]="task.completed"
        (ionChange)="toggleTask(task)"
      ></ion-checkbox>
      <ion-button
        slot="end"
        color="danger"
        fill="clear"
        (click)="deleteTask(i)"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input
      placeholder="Nueva tarea"
      [(ngModel)]="newTask"
    ></ion-input>
    <ion-button expand="block" (click)="addTask()">Agregar</ion-button>
  </ion-item>
</ion-content>
